@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/wallpaper.png");
  background-repeat: repeat-y;
  background-size: 100vw; /* Optional: adjust the size as needed */
}

@media (max-width: 900px) {
  body {
    background-size: 150%; /* Adjust the zoom level as needed */
  }
}
