@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/wall.png");
  background-repeat: repeat-y;
  background-size: 100vw;
}

@media (max-width: 900px) {
  body {
    background-size: 150%;
  }
  .foot {
    size: 150%;
  }
}
